<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Clientes</title>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

    </style>
</head>
<body>
<div class="clearfix">
    <form action="#" th:action="@{/comercial/crear}" th:object="${comercial}" method="post">

        <div>
            <h1>Crear Comercial</h1>
        </div>

        <div class="clearfix">
            <label for="nombre" th:text="#{msg.name.seller}">Nombre</label>
            <input id="nombre" th:field="*{nombre}" type="text" />

            <br>
            <br>

            <label for="apellido1" th:text="#{msg.firstSurname.seller}">Primer apellido</label>
            <input id="apellido1" th:field="*{apellido1}" type="text" />

            <br>
            <br>


            <label for="apellido2" th:text="#{msg.secondSurname.seller}">Segundo apellido</label>
            <input id="apellido2" th:field="*{apellido2}" type="text" />

            <br>
            <br>

            <label for="ciudad" th:text="#{msg.comision.seller}">Comision</label>
            <input id="ciudad" th:field="*{comision}" type="text" />

            <br>
            <br>

            <div>
                <button>Guardar</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>