<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

    </style>
</head>
<body>
<div class="container">
    <body>
    <div class="container mx-auto px-4">
        <div class="flex flex-row py-4 items-center border-b-2 p-2">
            <div class="basis-1/2 text-4xl">
                <h1 th:text="#{msg.details.seller}">Detalle Comercial</h1>
            </div>
            <form class="basis-1/2 flex justify-center" action="/clientes" >
                <button class="btn btn-gray float-right">Volver</button>
            </form>
        </div>
        <div class="flex flex-row my-0.5">
            <div class="basis-1/2">
                <label th:text="#{msg.idSeller.seller}">Comercial ID</label>
            </div>
            <div class="basis-1/2">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${comercial.id}" value="Código" readonly="readonly"/>
            </div>
        </div>
        <div class="flex flex-row my-0.5">
            <div class="basis-1/2">
                <label th:text="#{msg.name.seller}">Nombre</label>
            </div>
            <div class="basis-1/2">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${comercial.nombre}" value="nombre" readonly="readonly"/>
            </div>
        </div>
        <div class="flex flex-row my-0.5">
            <div class="basis-1/2">
                <label th:text="#{msg.firstSurname.seller}">Apellido1</label>
            </div>
            <div class="basis-1/2">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${comercial.apellido1}" value="apellido1" readonly="readonly"/>
            </div>
        </div>
        <div class="flex flex-row my-0.5">
            <div class="basis-1/2">
                <label th:text="#{msg.secondSurname.seller}">Apellido2</label>
            </div>
            <div class="basis-1/2">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${comercial.apellido2}" value="Apellido2" readonly="readonly"/>
            </div>
        </div>
        <div class="flex flex-row my-0.5">
            <div class="basis-1/2">
                <label th:text="#{msg.comision.seller}">Comision</label>
            </div>
            <div class="basis-1/2">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${comercial.comision}" value="cliente" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group">
            <h2>Pedidos del comercial</h2>
            <div th:each="pedido : ${listaPedidos}" class="mb-3">
                <div class="form-group">
                    <label th:text="#{msg.idOrder.order}">ID Pedido</label>
                    <input type="text" th:value="${pedido.id}" class="form-control" readonly/>
                </div>

                <div class="form-group">
                    <label th:text="#{msg.total.order}">Total</label>
                    <input type="text" th:value="${pedido.total}" class="form-control" readonly/>
                </div>

                <div class="form-group">
                    <label th:text="#{msg.date.order}">Fecha</label>
                    <input type="text" th:value="${pedido.fecha}" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label th:text="#{msg.client.order}">Cliente</label>
                    <input type="text" th:value="${cliente.nombre}" class="form-control" readonly="readonly"/>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <form action="/comercial">
                <button type="submit" class="btn btn-secondary">Volver</button>
            </form>
        </div>
    </div>
    </body>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>