<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

    </style>
</head>
<body>


<div class="container mx-auto px-4">
    <form  th:action="@{/comercial/editar/__${comercial.id}__}" th:object="${comercial}" method="post" >
        <div class="flex flex-row py-4 items-center border-b-2 p-2">
            <div class="basis-1/2 text-4xl">
                <h1>Editar Comercial</h1>
            </div>
            <div class="basis-1/2 flex justify-center">
                <!--RECUERDA: por defecto, button es type="submit",
                para controlar por js el envío usa type="button"-->
                <button class="btn btn-blue float-right">Guardar</button>
            </div>
        </div>
        <div class="flex flex-row my-0.5">
            <div class="basis-1/2">
                <label th:text="#{msg.name.seller}">Nombre</label>
            </div>
            <div class="basis-1/2">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:field="*{nombre}">
            </div>
        </div>
        <div class="flex flex-row my-0.5">
            <div class="basis-1/2">
                <label th:text="#{msg.firstSurname.seller}">Apellido1</label>
            </div>
            <div class="basis-1/2">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:field="*{apellido1}"/>
            </div>
        </div>
        <div class="flex flex-row my-0.5">
            <div class="basis-1/2">
                <label th:text="#{msg.secondSurname.seller}">Apellido 2</label>
            </div>
            <div class="basis-1/2">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:field="*{apellido2}"/>
            </div>
            <div class="flex flex-row my-0.5">
                <div class="basis-1/2">
                    <label th:text="#{msg.comision.seller}">Comision</label>
                </div>
                <div class="basis-1/2">
                    <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:field="*{comision}"/>
                </div>
            </div>
        </div>
</form>
</div>
</body>
</html>